body {
margin: 0;
} 
.topnav {
  background-color: #333;
  overflow: hidden; 
  top: 0;
  width: 100%;

}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
.blog{
  float: right;
  color: red;
  margin-right: 70px;
  font-size : 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  
}
.center-item{
  display: flex;
  height: 400px;
  margin: auto;
  width: 50%;
  justify-content: center;
  align-items: center;
}
.card{
  margin-top: 50px;
  border: 2px solid black;
  border-radius: 2px;
  box-shadow: 2px 2px black;

}
.okay
{
  color: green;
  border-color: black;
  width: 100px;
}
                                                                                                                
/*for color heart*/
.heartColor
{
  color:white;
} 

.heartColor:hover {
  color:pink;
}


.borederRemove {
border: none;
background-color: none;
}