<html>
<head>
<title></title>
</head>
<body>
  <form method="POST">
    <input type="text" class="input-text" name="title" placeholder="Enter title" />
    <textarea name="content" rows="10" cols="50" placeholder="Enter content"></textarea>

    <input type="submit"> 
</body>
</html>