<!DOCTYPE html>
<html>

<head>
  <title>Home</title>
  <link rel="stylesheet" href="../stylesheet/nav.css" type="text/css">

</head>

<body>
  <div><%- include('navbar.ejs') %></div>

  <div>
    <h1>
      welcomE <%= name %>
    </h1>
  </div>
</body>

</html>