<!DOCTYPE html>
<html>
 <head>
   <title>Home</title>
   <link rel="stylesheet" href="../stylesheet/nav.css">

 </head>
 <body>
  <div><%- include('navbar.ejs') %></div>

   <div>
     <h1>
       welcom <%= name %>
     </h1>
   </div>
 </body>
</html>