<html>
<head>
  <title>Login</title>
  <link rel="stylesheet" action="post" href="../stylesheet/nav.css" >

</head>
<body>
<div class="center-item card">
<form action="/login" method="post" >
  <h2>Login User</h2><br>
  
    <label><b>Email id</b></label>
    <input type="email" placeholder="Enter email" name="uemail" required>
    <br><br> 
    <label ><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>
    <br><br><br>
    <button type="submit">Login</button>
</form>
</div>
</body>
</html>
