<html>
  
<form action="/login" method="post">

<center>
  <legend>
  <h2>Login User</h2><br>

  <div class="container">
    <label for="email"><b>Email id</b></label>
    <input type="email" placeholder="Enter email" name="uemail" required>
    <br><br> 

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>
    <br><br><br>
    <button type="submit">Login</button>
  </div>
</legend>
</center>
</form>
</html>
