<html>
<head>
  <title> Navigation </title>
  <link rel="stylesheet" href="../public/stylesheet/nav.css">
</head>

<body>
  <div class="topnav">
    <a href="dash">Home</a>
    <a href="post">Add Post</a>
    <a href="viewPost">View post</a>
    <a href="logout">Logout</a>
    <p class="blog">BlOG</p>
  </div>

</body>


<script>
  function setColor(btn, color){
      var count=1;
      var property = document.getElementById(btn);
      if (count == 0){
          property.style.backgroundColor = "#FFFFFF"
          count=1;        
      }
      else{
          property.style.backgroundColor = "#7FFF00"
          count=0;
      }
  
  }
  </script>

</html>