<html>
<head>
  <title> Navigation </title>
</head>

<body>
  
  <ul>
    <div>
      <li><a href="#home">Blog </a></li>
    </div>
    <div >
      <li><a href="dashboard.ejs">Home</a></li>
      <li><a href="/post">AddPost</a></li>
      <li><a href="/post">ViewPost</a></li>
      <li><a href="">Logout</a></li>
    </div>
  </ul>

</body>

</html>