<!DOCTYPE html>
<html>

<head>
    <title>Registration Form</title>
    <link rel="stylesheet" action="post" href="../stylesheet/nav.css">

</head>

<body>

    <div class="center-item card">
        <form name="registration" method="post" action="/register">
            <div class="form-head"><b><h2>REGISTRATION FORM</h2></b>
                
            
            <input type="text" class="input-text" name="id" placeholder="Enter your id" required/><br><br>
            <input type="text" class="input-text" name="name" placeholder="Emter your name" required/><br><br>
            <input type="email" class="input-text" name="email" placeholder="Email Id" required/><br><br>
            <input type="password" class="input-text" name="password" placeholder="Enter your password" required/><br><br>
            <input type="text" class="input-text" name="role" placeholder="Enter your role" required/><br><br>
            <input type="submit" class="div-btn okay" name="submit" value="REGISTER" required/><br><br>
            <a href="/login">Already user?</a>
        </form>
    </div>
</body>

</html>