<!DOCTYPE html>
<html>
    <head>
        <title>Registration Form</title>
    </head>
    
    <body>
                <form name="registration"  method="post" action="/register">
                    <div class="form-head">REGISTRATION FORM</div><br><br><br>
                        <input type="text" class="input-text" name="id"  placeholder="Enter your id"/><br><br>
                        <input type="text" class="input-text" name="name"  placeholder="Emter your name"/><br><br>
                        <input type="email" class="input-text" name="email"  placeholder="Email Id"/><br><br>
                        <input type="password" class="input-text" name="password"  placeholder="Enter your password"/><br><br>
                        <input type="text" class="input-text" name="role"  placeholder="Enter your role"/><br><br>
                        <input type="submit"  class="div-btn" name="submit" value="REGISTER"/><br><br>
                      <a href="/login" style="text-decoration: none;">Do you want to login?</a>
                
                </form>                
        
        </div>
    </body>
</html>

