<html>
  <head>
    <title>View Post</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"/>
    <link rel="stylesheet" action="post" href="../stylesheet/nav.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css"/>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script>
      $(document).ready(function(){
      $(".like").click(function(){
      $(this).toggleClass("heart")
      })
      })
      </script>
      
    <style>
      .heart i.fa-heart {
      color: #f44336;
    }  
      .heart{
       animation: heart 0.5s linear; 
    }
    @keyframes heart {
      0%{
        transform: rotate(0deg) scale(1.7);
      }
    }
</style>

</head>
<body>
<%- include ('navbar.ejs') %>
<br />

<% if(post.length) { %>
<div class="container">
<% for(let i= 0; i < post.length; i++) {%>
<div class="card" class="container-fluid">
  <h4 class="card-header"><%= post[i].title %></h4>
<div class="card-body">
  <h5 class="card-title"> <%= post[i].content %></h5>
<br>

<form action="/like" method="POST">
  <input type="hidden" name="postid" value="<%= post[i]._id%>">
  <% let flag = 0;like.some((ele) => {
    flag = 1;
    if(ele._id === like.postid) {%>
      <button type="submit" name="like" value="1">
        <i class="fa fa-heart likeheartColor" aria-hidden="true"></i>
      </button>    
     <%flag =0;} else {%>
      <button type="submit" name="dislike" value="0">
      <i class="fa fa-heart heartColor"  aria-hidden="true"></i>
      </button>
     <%}});%>
     <button type="submit" name="dislike" value="0">
      <i class="fa fa-heart heartColor" aria-hidden="true"></i>
      </button>
</div>
</div>
</form>
</br>
<% }%>
</br>
<% } else { %>
<div class="box-container">
<h1 style="text-align: center; padding-top:7%;">Sorry! No post available.</h1>
<h5 style="text-align: center;">To publish new post <a href="/post">Click here..</a> </h5>
</div>
<% } %>
</div>


</body>
</html>